body{
    font-family: Arial, Helvetica, sans-serif;
}

.sample{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px; 
}

input{
    width: 100px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}

input[type=text]{
    width: 100%;
    padding: 12px 12px;
    height: 10px;
    margin: 8px 0px;
}

input[type=password]{
    width: 100%;
    padding: 12px 12px;
    height: 10px;
    margin: 4px 2px; /*(top bottom) (left right)*/
}

input[type=button]{
    width: 25%;
    background-color: #3fc043;
    color: white;
    text-decoration: none;
    font-weight: bold;
    height: 20px;
    margin: 4px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=text]:focus {
    background-color: #a4eca7;
}

input[type=password]:focus {
    background-color: #a4eca7;
}

input[type=button]:hover {
    background-color: #348b39;
}

#main_heading{
    text-align: center;
}

#messages{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 8px;
    width: 100%;
    display: inline-block;
    border: 1px solid black;
    max-height: 200px;
    min-height: 200px;
    overflow: scroll;
}

#messages span{
    overflow: scroll;
    overflow-y: scroll;
}